
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kmac2021 Soundboard</title>
	<!-- <% if (htmlWebpackPlugin.options.isProduction) { %>
	<script>
 if ('serviceWorker' in navigator) {
  navigator.serviceWorker
    .register('/sw.js')
    .then(function(d) {
      console.log('sw.js registered')
    })
    .catch(function(e) {
      console.log(e, 'sw.js NOT registered')
    })
}
</script>
	<% } %> -->

	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script>
  	WebFont.load({
      google: {
        families: ['Open Sans:900,400,300']
      }
    })
  </script>

	<link rel="manifest" href="<%= htmlWebpackPlugin.options.absolutePath %>manifest.json" async>

	<meta name="theme-color" content="#1e1e1e">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<meta name="description" content="Rock and Metal Song Generator.">
	<meta name="keywords" content="djeneration, station, generative, react, redux, metal, riff, generator, thall, djent, generate">

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="Kmac2021 Soundboard">
	<meta itemprop="description" content="Rock and Metal Song Generator.">
	<meta itemprop="image" content="http://djen.co/assets/images/icon.png">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Kmac2021 Soundboard">
	<meta name="twitter:description" content="Rock and Metal Song Generator.">
	<meta name="twitter:creator" content="@RossMcMillan92">
	<meta name="twitter:image" content="http://djen.co/assets/images/icon.png">

	<!-- Open Graph data -->
	<meta property="og:title" content="Kmac2021 Soundboard">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Rock and Metal Song Generator.">
	<meta property="og:url" content="http://djen.co/">
	<meta property="og:image" content="http://djen.co/assets/images/icon.png">

	<!-- Apple data -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="#1e1e1e">
	<meta name="apple-mobile-web-app-title" content="Kmac2021 Soundboard">
	<meta name="format-detection" content="telephone=no">

	<meta http-equiv="Content-Security-Policy"
	         content="default-src * blob:;
	                  style-src * 'self' 'unsafe-inline' 'unsafe-eval';
	                  script-src * 'self' 'unsafe-inline' 'unsafe-eval' data:;
	                  worker-src * blob: 'self' 'unsafe-inline' 'unsafe-eval';">
	<noscript>
		<style> .js { display: none !important } </style>
	</noscript>
</head>
<body class="preload">
	<div id="root"></div>
	<noscript>
		<p class="u-mt2 u-tac">JavaScript is required for the Kmac2021 Soundboard to run</p>
	</noscript>
</body>
</html>
