<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kmac2021 Soundboard</title>
	<!-- <% if (htmlWebpackPlugin.options.isProduction) { %>
	<script>
 if ("serviceWorker" in navigator) {
  navigator.serviceWorker
    .register("/sw.js")
    .then(function(d) {
      console.log("sw.js registered")
    })
    .catch(function(e) {
      console.log(e, "sw.js NOT registered")
    })
}
</script>
	<% } %> -->

	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script>
 WebFont.load({
  google: {
    families: ["Open Sans:900,400,300"]
  }
})
</script>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<meta name="description" content="kmac2021 memes and music soundboard">
	<meta name="keywords" content="kmac2021, kieran, djen, memes, metal, music, soundboard, prank, calls">

  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
  <link rel="manifest" href="/favicons/site.webmanifest">
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#ffb6de">
  <link rel="shortcut icon" href="/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffb6de">
  <meta name="msapplication-config" content="/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffb6de">

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="Kmac2021 Soundboard">
	<meta itemprop="description" content="kmac2021 memes and music soundboard.">
	<meta itemprop="image" content="http://kmac2021.fun/favicons/favicon.png">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Kmac2021 Soundboard">
	<meta name="twitter:description" content="kmac2021 memes and music soundboard.">
	<meta name="twitter:creator" content="@kmactweety21">
	<meta name="twitter:image" content="http://kmac2021.fun/favicons/favicon.png">

	<!-- Open Graph data -->
	<meta property="og:title" content="Kmac2021 Soundboard">
	<meta property="og:type" content="website">
	<meta property="og:description" content="kmac2021 memes and music soundboard.">
	<meta property="og:url" content="http://kmac2021.fun/">
	<meta property="og:image" content="http://kmac2021.fun/favicons/favicon.png">

	<!-- Apple data -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="#ffb6de">
	<meta name="apple-mobile-web-app-title" content="Kmac2021 Soundboard">
	<meta name="format-detection" content="telephone=no">

	<noscript>
		<style> .js { display: none !important } </style>
	</noscript>
</head>
<body class="preload">
	<div id="root"></div>
	<noscript>
		<p class="u-mt2 u-tac">JavaScript is required for the Kmac2021 Soundboard to run</p>
	</noscript>
</body>
</html>
